.seconds-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 3rem;
  padding: 20px;
  border-radius: 5px;
}

.seconds-counter > i {
  display: flex;
  padding-right: 10px;
}
